* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --general-black: #000000;
  --genera-white: #ffffff;
  --general-grey: #585454;
  --general-red:  #a50505;
  --hover: #a50505;
  --text-colour: #ffffff;
}


body {
  background-color: var(--general-grey);
}

.sprite {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.content-container {
  width: 100%; 
}

.styled-container {
  width: 100%;
  margin: 0;
  background-color: var(--general-black);
  border-bottom: 10px solid var(--general-red);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px 25px 20px;
}

.header {
  background-color: var(--general-black);
}

.page {
  background-color: var(--general-grey);
  /* min-height: 45vh; */
}

.footer {
  background-color: var(--general-black);
}

.header,
.page,
.footer {
  width: 100%;
}

.footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
}

.title-text {
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  color: var(--text-colour);
}

.subtitle-text {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  color: var(--text-colour);
}

.main-text {
  font-size: 20px;
  margin-top: 20px;
  padding: 30px 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  color: var(--text-colour);
}

.text-center {
  text-align: center;
}

.big-text {
  font-size: 40px;
  padding: 30px 10px;
}

.line-text {
  display: inline;
}

.inline-around-row-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inline-column-group {
  display: flex;
  flex-direction: column;
}

.header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header_button,
.header_img {
  width: 10%;
  height: auto;
  border-radius: 10px;
}

.header_button, .size-button {
  background-color: var(--general-black);
  color: var(--text-colour);
  padding: 10px;
  border: 1px solid var(--text-colour);
  border-radius: 10px;
}

.header_button:hover,
.header_img:hover,
.size-button:hover {
  color: var(--hover);
  border: 1px solid var(--hover);
  box-shadow: 0 0 15px var(--genera-white);
}

.social-media__menu {
  width: 40%;
  margin: 0 auto 0;
  background: rgb(65 64 64 / 0%);
  text-align: center;
  border-radius: 30px;
}

.header__link--menu {
  position: absolute;
  top: 70%;
  left: 2%;
}

.social-media-link {
  width: 40px;
  height: 40px;
}

.social-media-icon, .size-button--icon {
  width: 40px;
  height: 40px;
  fill: var(--genera-white);
  border-radius: 5px;
}

.size-button--icon:hover {
  fill: var(--hover);
  border-radius: 5px;
}

.social-media-icon:hover {
  fill: var(--hover);
  border-radius: 5px;
  box-shadow: 0 0 15px var(--genera-white);
}

.footer_container {
  text-align: center;
}

/* responsive for tablets */

@media only screen and (max-width: 768px) {
  .content-container {
    padding: 20px 10px 20px;
  }

  .header_container {
    height: 190px;
  }

  .header_button,
  .header_img {
    width: 20%;
    height: auto;
  }

  .inline-around-row-group {
    flex-direction: column;
  }

  .social-media__menu {
    width: 50%;
  }

  .title-text {
    font-size: 27px;
  }

  .subtitle-text {
    font-size: 24px;
  }
}

/* responsive for mobile devises */

@media only screen and (max-width: 468px) {
  .title-text {
    font-size: 24px;
  }

  .subtitle-text {
    font-size: 20px;
  }

  .social-media__menu {
    width: 100%;
  }
}

/* responsive for small screens */

@media only screen and (max-width: 360px) {
  .title-text {
    font-size: 20px;
  }
}
